__pycache__/*
selenium/*
SwimRankEnv/*
collect_swimmer_data/*
chromedriver_mac_arm64/*
.venv/*
*.txt
.DS_Store
*.json
__pycache__/*
*.txt
*.json
*.pem
create_indexes_results.py
delete_db.py
get_credentials.py
move_ids_to_db.py
test.py
.gitignore
national_rankings.csv